body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 100;
    background-image: url(fondo4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}




.login{
    color: rgb(72, 97, 97);
    text-shadow: 10px 10px 10px rgb(65, 54, 165);
    font-size: 40px;
    
}
.nombre{
    color: rgb(72, 97, 97);
    text-shadow: 10px 10px 10px rgb(65, 54, 165);
    font-size: 25px;
}
.contraseña{
    color: rgb(72, 97, 97);
    text-shadow: 10px 10px 10px rgb(65, 54, 165);
    font-size: 25px;
}
